<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>
<body>
    <div class="page-wrapper">
        <nav class="navbar navbar-dark" style="background-color: rgb(78, 87, 104);">
            <span class="navbar-brand mb-0 h1">
                <a href="/">
                    <img style="max-width: 60px; max-height: 50px;" src="../assets/images/logo.png" alt="" srcset="">
                    Product Management
                </a>
            </span>
            <a class="float-right btn btn-outline-primary" href="/add" >Add a Product</a>
        </nav>
    </div>

